{% import 'dashboard/macro/_sidebar.html.twig' as sidebar %}
<!---------------- Report ------------------->
<div class="sidebar-item">
  {{ sidebar.body_header('report', '<i class="bi bi-graph-up"></i>', 'Отчеты'|trans([], 'dashboard')) }}
  <div class="collapse sidebar-list" id="report">
    {{ sidebar.list_item("#", 'Группы отчетов'|trans([], 'dashboard')) }}
    {{ sidebar.list_item("#", 'Клиенты Online'|trans([], 'dashboard')) }}
    {{ sidebar.list_item("#", 'Статистика'|trans([], 'dashboard')) }}
  </div>
</div>
