<div class="dashboard__copyright">
    <a class="dashboard__copyright-link" href="{{ path('homepage') }}">mlcrm</a>
    <div class="dashboard__copyright-text">
        <span>&#169;</span>
        <span>2020 - {{ 'now' | date('Y') }}</span>
    </div>
</div>
